body {
  font-family: 'Didact Gothic', sans-serif;
}

@media (min-width: 575.98px) {
  .hero .container,
  nav .container {
    max-width: 1350px !important;
  }
}

nav {
  background-color: white !important;
  z-index: 1000 !important;
  -webkit-transition: .5s;
  transition: .5s;
  top: 0;
}

nav .navbar-brand .logo {
  height: 50px;
  width: 170px;
  border: none;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 768.98px) {
  nav .navbar-nav {
    height: calc(100vh - 76px);
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

nav .navbar-nav .nav-link {
  color: black;
  font-weight: 500;
  font-size: 14px;
}

nav .navbar-nav .nav-link:hover {
  color: #FF437C;
  font-weight: bold;
}

@media (max-width: 768.98px) {
  nav .navbar-nav .nav-link {
    padding: 25px 0 !important;
    font-size: 30px;
  }
}

nav .navbar-nav .nav-btn {
  background-color: #FF437C;
  border-radius: 50px;
  padding: 7px 18px;
  color: white;
  margin-left: 25px;
}

@media (max-width: 768.98px) {
  nav .navbar-nav .nav-btn {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 350px;
    font-size: 21px;
    padding: 10px 35px;
  }
}

nav .hamburger {
  padding: 0;
}

nav .hamburger:focus {
  outline: none !important;
}

nav .hamburger .hamburger-inner {
  background-color: #FF437C !important;
}

nav .hamburger .hamburger-inner:before {
  background-color: #FF437C !important;
}

nav .hamburger .hamburger-inner:after {
  background-color: #FF437C !important;
}

.hero {
  margin: 160px 0;
  padding: 0 50px;
}

@media (max-width: 575.98px) {
  .hero {
    margin: 120px 0;
    padding: 0 10px;
  }
}

.hero .hero-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
}

@media (max-width: 991.98px) {
  .hero .hero-text-block {
    text-align: center;
  }
}

.hero .hero-text-block .btn {
  margin-top: 40px;
  background-color: #FF437C;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 35px;
  color: white;
}

.hero .hero-img {
  padding-left: 60px;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 991.98px) {
  .hero .hero-img {
    margin-top: 120px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575.98px) {
  .hero .hero-img {
    margin-top: 0;
    margin-bottom: 50px;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
}

.hero .hero-title {
  font-size: 45px;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 575.98px) {
  .hero .hero-title {
    font-size: 30px;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.comment {
  text-align: center;
}

.comment .section-title {
  font-size: 35px;
}

.comment .section-subtitle {
  margin-top: 35px;
  font-size: 25px;
}

.comment .section-subtitle span {
  background-color: #FF437C;
  padding: 8px 35px;
  color: white;
  border-radius: 5px;
}

@media (max-width: 768.98px) {
  .comment .section-subtitle span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.comment .comment-text {
  margin-top: 20px;
}

@media (max-width: 768.98px) {
  .comment .comment-text {
    padding: 0 20px;
  }
}

.comment h4 {
  margin-top: 110px;
  font-weight: bold;
  color: #FF437C;
}

.comment p {
  text-align: left;
}

.added-value {
  margin: 80px 0;
}

@media (max-width: 575.98px) {
  .added-value {
    margin: 50px 0 50px 0;
  }
}

.added-value .card {
  border: none;
  height: 100%;
}

@media (max-width: 991.98px) {
  .added-value .card {
    padding: 20px;
  }
}

@media (max-width: 575.98px) {
  .added-value .card {
    padding: 40px;
  }
}

.added-value .card .card-img-top {
  height: 100px;
}

.added-value .card .card-body .card-title {
  padding-top: 15px;
  font-size: 22px;
  font-weight: 600;
}

.added-value .card .card-body .card-text {
  color: #7c7c7c;
  font-weight: 500;
  font-size: 17px;
}

.added-value .card .card-body .card-text strong {
  font-weight: 500 !important;
}

.added-value img {
  width: 100px;
}

.added-value button {
  padding: 15px 40px;
  margin-top: 80px;
  -webkit-transition: .2s;
  transition: .2s;
  color: white !important;
  background-color: #2eef88;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  border-radius: 30px;
}

.added-value button:hover {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 217, 98, 0.6);
          box-shadow: 0px 5px 15px rgba(0, 217, 98, 0.6);
}

.added-value button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.added-value button i {
  padding-left: 10px;
}

.added-value #more {
  background-color: #F2F3F3;
  padding: 80px 0;
}

.added-value #more .more-text-block {
  margin: 10px 0;
  padding: 10px;
}

.added-value #more .more-text-block img {
  height: 50px;
  padding-right: 30px;
}

.added-value #more .more-text-block .circle {
  height: 50px !important;
  width: 50px !important;
  margin-right: 30px;
  background-color: #2eef88;
  border-radius: 50%;
  color: white;
  font-size: 23px;
  padding: 13px 10px 10px 10px;
  border: none;
}

.added-value #more .more-text-block .more-title {
  font-size: 20px;
  font-weight: 600;
}

.added-value #more .more-text-block .more-text {
  font-size: 16px;
  font-weight: 500;
  color: #6b6b6b;
}

.transition {
  background-image: url("../img/transition.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0;
}

.job {
  padding: 120px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0E1428), to(#3D4C7B));
  background: linear-gradient(#0E1428, #3D4C7B);
}

.job .job-portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job .job-portrait img {
  border-radius: 50%;
  max-width: 150px;
}

.job .job-portrait h5 {
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
}

.job .job-portrait h5 span {
  font-weight: bold;
}

.job .job-portrait p {
  color: white;
  opacity: .7;
}

.job .job-text {
  color: white;
}

@media (max-width: 991.98px) {
  .job .job-text {
    text-align: center;
    margin-top: 30px;
  }
}

.job .job-text h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.job .job-text p {
  opacity: .7;
}

.job .job-btn {
  background-color: #FF437C;
  border-radius: 50px;
  padding: 7px 18px;
  color: white;
  margin-top: 15px;
  -webkit-transition: .4s;
  transition: .4s;
}

.job .job-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s;
  transition: .4s;
}

.job .citation {
  text-align: center;
  margin: 140px 0;
  font-size: 28px;
  font-style: italic;
  color: white;
}

.job .citation span {
  color: #FF437C;
  opacity: 1;
}

.job .folder-steps .step-title {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.job .folder-steps p {
  text-align: center;
  color: white;
  opacity: .7;
}

.job .card {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

@media (max-width: 575.98px) {
  .job .card {
    margin: 20px 0;
  }
}

.job .cards-steps {
  margin-top: 60px;
  color: white;
}

.job .cards-steps .card-img-top {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.job .cards-steps .card-body .card-title {
  font-size: 20px;
  font-weight: bold;
}

.job .cards-steps .card-body .card-text {
  opacity: .8;
}

.sam {
  margin: 80px 0;
}

.sam h2 {
  text-align: center;
}

.credit-hero {
  margin: 150px 0;
}

.credit-hero .credit-img {
  top: 0;
  position: absolute;
}

.credit-hero .slogan {
  text-align: center;
}

.how .section-subtitle {
  margin-top: 35px;
  font-size: 25px;
}

.how .section-subtitle span {
  background-color: #FF437C;
  padding: 8px 35px;
  color: white;
  border-radius: 10px;
}

.how .text-block {
  margin: 70px 0;
}

.courtage-steps {
  margin: 30px 0 80px 0;
}

@media (max-width: 575.98px) {
  .courtage-steps {
    margin: 50px 0 50px 0;
  }
}

.courtage-steps h4 {
  margin-bottom: 70px;
  font-weight: bold;
  color: #FF437C;
}

.courtage-steps .card {
  border: none;
  height: 100%;
}

@media (max-width: 991.98px) {
  .courtage-steps .card {
    padding: 20px 0;
  }
}

@media (max-width: 575.98px) {
  .courtage-steps .card {
    padding: 40px 0;
  }
}

.courtage-steps .card .card-img-top {
  height: 100px;
}

.courtage-steps .card .card-body .card-title {
  padding-top: 15px;
  font-size: 22px;
  font-weight: 600;
}

.courtage-steps .card .card-body .card-text {
  color: #7c7c7c;
  font-weight: 500;
  font-size: 17px;
}

.courtage-steps .card .card-body .card-text strong {
  font-weight: 500 !important;
}

.courtage-steps img {
  width: 100px;
}

.courtage-steps button {
  padding: 15px 40px;
  margin-top: 80px;
  -webkit-transition: .2s;
  transition: .2s;
  color: white !important;
  background-color: #2eef88;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  border-radius: 30px;
}

.courtage-steps button:hover {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 217, 98, 0.6);
          box-shadow: 0px 5px 15px rgba(0, 217, 98, 0.6);
}

.courtage-steps button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.courtage-steps button i {
  padding-left: 10px;
}

footer {
  margin: 20px 0;
  background-color: white;
}

footer p {
  margin: 5px 0;
}

footer a {
  font-size: 13px;
  padding: 0 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  font-weight: bold;
}

.cgu {
  margin: 100px 0;
}

.cgu h1 {
  text-align: center;
}

.cgu .cgu-block {
  margin: 60px 0;
  background-color: rgba(255, 67, 124, 0.1);
  border-radius: 10px;
  padding: 10px 25px;
}

.cgu .cgu-block p {
  margin-top: 20px;
}

.mentions {
  margin: 100px 0;
}

.mentions h1 {
  text-align: center;
}

.mentions .mentions-block {
  margin: 60px 0;
  background-color: rgba(255, 67, 124, 0.1);
  border-radius: 10px;
  padding: 10px 25px;
}

.mentions .mentions-block p {
  margin-top: 20px;
}

.desabonnement {
  margin: 80px 0;
}

.desabonnement h1 {
  text-align: center;
}

.desabonnement form input {
  max-width: 300px;
}
/*# sourceMappingURL=style.css.map */