// Colors ------------------------------------------

$blue:#00BDD9;
$green: #2eef88;
$light-green: #daf8ea;
$dark-green: #1F6d7f;
$light-grey: #f6f6f6;
$dark-blue: #113e48;
$dark-grey:#7c7c7c;

// Media ------------------------------------------

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 575.98px;
// Small tablets (portrait view)
$screen-md-max: 768.98px;
// Tablets and small desktops
$screen-lg-max: 991.98px;
// Large tablets and desktops
$screen-xl-max: 1199.98px;


// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: $screen-md-max) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

// Custom devices
@mixin rwd($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}



@mixin sm-min {
    @media (min-width: #{$screen-sm-max}) {
        @content;
    }
}


@mixin md-min {
    @media (min-width: #{$screen-sm-max}) {
        @content;
    }
}


body {
    font-family: 'Didact Gothic', sans-serif;

}


.hero,
nav {
    .container {
        @include sm-min {
            max-width: 1350px !important;
        }
    }
}



nav {
    background-color: white !important;
    z-index: 1000 !important;
    transition: .5s;
    top: 0;

    .navbar-brand {
        .logo {
            // background-image: url('../img/credizen.svg');
            height: 50px;
            width: 170px;
            border: none;
            transition: .4s;

        }
    }

    .navbar-nav {
        
        @include md {
            height: calc(100vh - 76px);

            align-content: center;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .nav-link {
            color: black;
            font-weight: 500;
            font-size: 14px;

            &:hover {
                color: #FF437C;
                font-weight: bold;
            }

            @include md {
                padding: 25px 0 !important;
                font-size: 30px;
            }
        }

        .nav-btn {
            background-color: #FF437C;
            border-radius: 50px;
            padding: 7px 18px;
            color: white;
            margin-left: 25px;

            @include md {
                margin:0 auto;
                margin-top: 20px;
                max-width: 350px;
                font-size: 21px;
                padding: 10px 35px;
            }
        }
        
    }

    .hamburger {
        padding: 0;

        &:focus {
            outline: none !important;
        }

        .hamburger-inner {
            background-color: #FF437C !important;

            &:before {
                background-color: #FF437C !important;
            }

            &:after {
                background-color: #FF437C !important;
            }
        }
    }
}


.hero {
    margin: 160px 0;
    padding: 0 50px;

    @include sm {
        margin:120px 0;
        padding: 0 10px;
        }

    .hero-text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: left;

        @include lg {
            text-align: center;
        }

        .btn {
            margin-top: 40px;
            background-color: #FF437C;
            border-radius: 50px;
            font-size: 18px;
            padding: 10px 35px;
            color: white;
        }
    }

    .hero-img {
        padding-left: 60px;
        transition: .4s;

        @include lg {
            margin-top: 120px;
            padding-left: 0;
            padding-right: 0;
        }

        @include sm {
            margin-top: 0;
            margin-bottom: 50px;
order: -2;
            }


    }

    .hero-title {
        font-size: 45px;
        transition: .4s;
        @include sm {
            font-size: 30px;
            transition: .4s;

        }
    }
}


.comment {
    text-align: center;

    .section-title {
        font-size: 35px;
    }

    .section-subtitle {
        margin-top: 35px;
        font-size: 25px;

        span {
            background-color: #FF437C;
            padding: 8px 35px;
            color: white;
            border-radius: 5px;

            @include md {
                display: flex;
    
            }
            
        }


    }

    .comment-text {
        margin-top: 20px;
        @include md {
       padding: 0 20px;

        }
  
    }

    h4 {
        margin-top: 110px;
        font-weight: bold;
        color: #FF437C;
    }

    p {
        text-align: left
    }
}




.added-value {
    margin: 80px 0;

    @include sm {
        margin: 50px 0 50px 0;
    }

    .card {
        border: none;
        height: 100%;

        @include lg {
            padding: 20px;
        }

        @include sm {
            padding: 40px;
        }


        .card-img-top {
            height: 100px;
        }

        .card-body {
            .card-title {
                padding-top: 15px;
                font-size: 22px;
                font-weight: 600;
            }

            .card-text {
                color: $dark-grey;
                font-weight: 500;
                font-size: 17px;

                strong {
                    font-weight: 500 !important;
                }
            }
        }

    }

    img {
        width: 100px;
    }

    button {
        padding: 15px 40px;
        margin-top: 80px;
        transition: .2s;
        color: white !important;
        background-color: $green;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
        font-weight: 600;
        font-size: 17px;
        text-decoration: none;
        border-radius: 30px;

        &:hover {
            transform: scale(1.1) !important;
            transition: .2s;
            box-shadow: 0px 5px 15px rgba(0, 217, 98, 0.6);
        }

        &:focus {
            box-shadow: none !important;
        }

        i {
            padding-left: 10px;
        }
    }

    #more {
        background-color: #F2F3F3;
        padding: 80px 0;

        .more-text-block {
            margin: 10px 0;
            padding: 10px;

            img {
                height: 50px;
                padding-right: 30px;
            }

            .circle {
                height: 50px !important;
                width: 50px !important;
                margin-right: 30px;
                background-color: $green;
                border-radius: 50%;
                color: white;
                font-size: 23px;
                padding: 13px 10px 10px 10px;
                border: none;

            }

            .more-title {
                font-size: 20px;
                font-weight: 600;
            }

            .more-text {
                font-size: 16px;
                font-weight: 500;
                color: #6b6b6b;

            }
        }

    }

}


.transition {
    background-image: url("../img/transition.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0;
}

.job {
    padding: 120px 0;
    background: linear-gradient(#0E1428, #3D4C7B);

    .job-portrait {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 50%;
            max-width: 150px;

        }

        h5 {
            margin-top: 10px;
            margin-bottom: 0;
            color: white;

            span {
                font-weight: bold;
            }
        }

        p {
            color: white;
            opacity: .7;
        }
    }


    .job-text {
        color: white;
        @include lg {
            text-align: center;
            margin-top: 30px;
        }

        h3 {
            font-weight: bold;
            margin-bottom: 15px;
        }

        p {
            opacity: .7;
        }
    }

    .job-btn {
        background-color: #FF437C;
        border-radius: 50px;
        padding: 7px 18px;
        color: white;
        margin-top: 15px;
        transition: .4s;

        &:hover {
            transform: scale(1.1);
            transition: .4s;
        }
    }

    .citation {
        text-align: center;
        margin: 140px 0;
        font-size: 28px;
        font-style: italic;
        color: white;

        span {
            color: #FF437C;
            opacity: 1;

        }



    }

    .folder-steps {
        .step-title {
            color: white;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            color: white;
            opacity: .7;
        }
    }

    .card {
        background-color: transparent;
        border-color: transparent;
        color: white;

        @include sm {
            margin: 20px 0;;
        }
    }

    .cards-steps {
        margin-top: 60px;
        color: white;

        .card-img-top {
            width: 90px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .card-body {
            .card-title {
                font-size: 20px;
                font-weight: bold;
            }

            .card-text {
                opacity: .8;
            }
        }


    }
}

.sam {
    margin: 80px 0;

    h2 {
        text-align: center;
    }
}


.credit-hero {
    // display: flex;
    // justify-content: center;

    margin: 150px 0;

    .credit-img {
        top: 0;
        position: absolute;

    }

    .slogan {
        text-align: center;
    }

}



.how {
    .section-subtitle {
        margin-top: 35px;
        font-size: 25px;

        span {
            background-color: #FF437C;
            padding: 8px 35px;
            color: white;
            border-radius: 10px;
        }
    }

    .text-block {
        margin: 70px 0;
    }
}



.courtage-steps {
    margin: 30px 0 80px 0;

    @include sm {
        margin: 50px 0 50px 0;
    }
   

    h4 {
        margin-bottom: 70px;
        font-weight: bold;
        color: #FF437C;
    }

    .card {
        border: none;
        height: 100%;

        @include lg {
            padding: 20px 0;
        }

        @include sm {
            padding: 40px 0;
        }


        .card-img-top {
            height: 100px;
        }

        .card-body {
            .card-title {
                padding-top: 15px;
                font-size: 22px;
                font-weight: 600;
            }

            .card-text {
                color: $dark-grey;
                font-weight: 500;
                font-size: 17px;

                strong {
                    font-weight: 500 !important;
                }
            }
        }

    }

    img {
        width: 100px;
    }

    button {
        padding: 15px 40px;
        margin-top: 80px;
        transition: .2s;
        color: white !important;
        background-color: $green;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
        font-weight: 600;
        font-size: 17px;
        text-decoration: none;
        border-radius: 30px;

        &:hover {
            transform: scale(1.1) !important;
            transition: .2s;
            box-shadow: 0px 5px 15px rgba(0, 217, 98, 0.6);
        }

        &:focus {
            box-shadow: none !important;
        }

        i {
            padding-left: 10px;
        }
    }


}


footer {
    margin: 20px 0;
    background-color: white;

    p {
        margin: 5px 0;
    }

    a {
        font-size: 13px;
        padding: 0 10px;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.cgu {
    margin: 100px 0;

    h1 {
        text-align: center;
    }

    .cgu-block {
        p {
            margin-top: 20px;
        }

        margin: 60px 0;
        background-color: rgba(255, 67, 124, 0.1);
        border-radius: 10px;
        padding: 10px 25px;
    }
}



.mentions {
    margin: 100px 0;

    h1 {
        text-align: center;
    }

    .mentions-block {
        p {
            margin-top: 20px;
        }

        margin: 60px 0;
        background-color: rgba(255, 67, 124, 0.1);
        border-radius: 10px;
        padding: 10px 25px;
    }
}

.desabonnement {
    margin: 80px 0;

    h1 {
        text-align: center;
    }

    form {
        input {
            max-width: 300px;
        }
    }
}