body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
  background-image: url("../img/side-logo.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: left 2% top 50%;
  background-attachment: fixed;
}

button:focus {
  outline: 0;
}

.navbar {
  background-color: #FFF !important;
  z-index: 10000;
  height: 60px;
  top: 0;
  padding: 0;
}

.navbar .nav-link {
  margin-right: 30px;
  color: black !important;
  font-size: 15px;
}

.navbar .nav-link:hover {
  color: #ff437c !important;
}

.navbar .logo {
  width: 160px;
  height: 50px;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .mini-logo {
  height: 40px;
  display: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .simulation-btn {
  border-radius: 30px;
  color: #ff437c !important;
  font-weight: 500;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border: #ff437c 2px solid;
}

.navbar .simulation-btn:hover {
  background-color: #ff437c;
  color: white !important;
}

.landing-background {
  background-color: white;
  border-radius: 10px;
  padding: 45px;
  margin-top: 130px;
  margin-bottom: 70px;
  -webkit-box-shadow: 0 0 2em #f0f0f0;
          box-shadow: 0 0 2em #f0f0f0;
  -webkit-transition: .4s;
  transition: .4s;
}

.banner .page-title {
  text-align: center;
  font-weight: 400;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 25px;
}

.banner .business-hook {
  margin-top: 65px;
  background-color: #ff437c;
  border-radius: 10px;
  color: white;
  padding: 40px;
}

.banner .business-hook .hook-title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

.banner .business-hook .hook-content {
  text-align: center;
}

.credit-form form .form-group {
  margin-left: 160px;
  -webkit-transition: .4s;
  transition: .4s;
}

.credit-form form .form-group input,
.credit-form form .form-group select {
  max-width: 340px;
}

.credit-form form .form-group label {
  font-weight: 900;
}

.credit-form form .form-group .btn-outline-red {
  font-weight: 400;
}

.credit-form form .form-group .form-control:focus {
  border: #ff437c 2px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.credit-form form .form-group .form-control option:hover {
  background-color: #ff437c;
}

.credit-form form .btn-group label {
  font-weight: 400;
}

.credit-form form .btn-group-label {
  font-weight: 900;
  margin-bottom: 8px;
  margin-left: 160px;
}

.credit-form form .form-btn {
  background-color: #fff;
  border: #ff437c 1px solid;
  color: #ff437c;
  font-weight: 400 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.credit-form form .form-btn:hover, .credit-form form .form-btn:active {
  background-color: #ff437c;
  color: white;
}

.credit-form form .form-btn:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #ff437c;
  border-color: #E84A61;
}

.credit-form .current-credits .current-credits-cards .card {
  padding: 0;
  border-radius: 0 0 10px 10px;
  border: none;
  width: 350px;
}

.credit-form .current-credits .current-credits-cards .card .card-header {
  color: white;
  font-size: 27px;
  background-color: #ff437c;
  border-radius: 10px 10px 0 0;
}

.credit-form .current-credits .current-credits-cards .card .card-body {
  background-color: #F4F5F6;
  border-radius: 0 0 10px 10px;
}

.credit-form .current-credits .current-credits-cards .card .form-group {
  margin-left: 0 !important;
}

.credit-form .form-submit {
  margin-top: 90px;
}

.credit-form .form-submit .btn {
  background-color: #ff437c;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 40px 10px 40px;
}

.credit-form .section-title {
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 55px;
}

.credit-form .section-title span {
  font-size: 45px;
  color: #ff437c;
}

.credit-form .btn.btn-outline-red {
  background-color: transparent;
  border-color: #ff437c;
  color: #ff437c;
}

.credit-form .btn.btn-outline-red:hover {
  background-color: #ff437c;
  color: white;
}

.credit-form .btn.btn-outline-red.active {
  background-color: #ff437c;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.credit-form .credit-form form .form-group label.btn-outline-red {
  font-weight: 400;
}

.credit-form .btn-group-vertical {
  width: 100%;
}

.credit-form .btn {
  cursor: pointer;
}

.credits-text {
  padding: 40px;
  background-color: #F4F5F6;
  border-radius: 10px;
  font-size: 13px;
  color: #6e6e6e;
  margin-top: 80px;
}

.new-project,
.your-informations,
.your-situation,
.current-credits {
  margin-top: 45px;
}

@media (max-width: 1200px) {
  .btn-group-label {
    margin-left: 130px !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .form-group {
    margin-left: 130px !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .navbar {
    -webkit-transition: .6s;
    transition: .6s;
  }
  .navbar .navbar-toggler {
    border: none;
  }
}

@media (max-width: 991px) {
  .mobile-container {
    width: 100% !important;
    max-width: none !important;
  }
  .banner .page-title {
    font-size: 33px;
    -webkit-transition: .4s;
    transition: .4s;
    margin-top: 35px;
  }
  .banner .business-hook {
    margin-top: 45px;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 25px !important;
  }
  .banner .business-hook .hook-title {
    font-size: 25px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .form-group,
  .btn-group-label {
    margin-left: 40px !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .card {
    width: 380px !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .navbar {
    -webkit-transition: .6s;
    transition: .6s;
  }
  .navbar .navbar-nav {
    padding: 20px;
  }
  .navbar .navbar-collapse {
    margin-top: -5px;
  }
  .navbar .navbar-toggler {
    border: none;
  }
  .navbar .navbar-brand {
    background-image: url(../img/mini-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 36px;
    width: 36px;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0;
    margin: 12px;
  }
  .navbar .navbar-nav {
    background-color: #FFF;
  }
  .navbar .nav-link {
    text-align: center;
    margin: 0;
  }
  .navbar .simulation-btn {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
  .logo {
    display: none;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .mini-logo {
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #modal-1 img, #modal-3 img {
    width: auto !important;
  }
}

@media (max-width: 768px) {
  .form-group,
  .btn-group-label {
    margin-left: 0 !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .landing-background {
    padding: 20px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input,
  select {
    max-width: none !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

@media (max-width: 576px) {
  .banner .page-title {
    font-size: 28px;
    margin-top: 95px;
  }
  .banner .business-hook .hook-title {
    font-size: 22px;
  }
  .landing-background {
    margin-top: 0px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .form-btn {
    display: block !important;
    width: 100%;
  }
}

.is-invalid {
  background-color: #fbeaf0 !important;
  border: solid 2px #ff437c !important;
}

.invalid-feedback {
  color: #ff437c;
}

.modal .modal-header,
.modal .modal-footer {
  border: none !important;
}

.modal .modal-title {
  font-weight: 900;
  font-size: 25px;
}

.modal .close {
  position: absolute;
  right: 1rem;
}

.modal .modal-body {
  text-align: center;
}

.modal img {
  width: 100%;
  padding: 30px;
}

.modal label {
  font-size: 20px;
  font-weight: 600;
}

.modal input {
  max-width: 200px !important;
  font-size: 22px;
}

.modal input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 2px #ff437c;
}

.modal .btn {
  background-color: #ff437c;
  border: none;
  padding: 10px 45px;
  font-size: 21px;
  border-radius: 30px;
  margin-top: 15px;
}

.modal .modal-content {
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px #656565;
          box-shadow: 0px 0px 25px #656565;
}

.modal .modal-footer a {
  color: #ff437c !important;
}

.success {
  font-size: 22px;
}

#modal-2 .modal-body {
  text-align: center;
  margin-top: 0;
}

#modal-1 .form-group, #modal-2 .form-group, #modal-3 .form-group {
  margin-left: 0 !important;
}

.error-message {
  background-color: #fbeaf0;
  border: #ff437c solid 2px;
  border-radius: 5px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.error-message ul {
  margin: 0;
}

.code-check svg {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}

.code-check #icon-check .circle {
  -webkit-animation-name: check;
  animation-name: check;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1s;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.code-check #icon-check .check {
  -webkit-animation-name: check;
  animation-name: check;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=style.css.map */