// Variable

$primary-color:#ff437c;

// General

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
    background-image: url("../img/side-logo.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left 2% top 50%;
    background-attachment: fixed;
}

button {
    &:focus {
        outline: 0;
    }
}



// Navbar


.navbar {
    background-color: #FFF !important;
    z-index: 10000;
    height: 60px;
    top: 0;
    padding: 0;

    .nav-link {
        margin-right: 30px;
        color: black !important;
        font-size: 15px;

        &:hover {
            color: $primary-color !important;
        }
    }

    .logo {
        width: 160px;
        height: 50px;
        transition: .4s;
    }

    .mini-logo {
        height: 40px;
        display: none;
        transition: .4s;
    }

    .simulation-btn {
        border-radius: 30px;
        color: $primary-color !important;
        font-weight: 500;
        order: 2;
        border: $primary-color 2px solid;

        &:hover {
            background-color: $primary-color;
            color: white !important;

        }
    }

}


// Background


.landing-background {
    background-color: white;
    border-radius: 10px;
    padding: 45px;
    margin-top: 130px;
    margin-bottom: 70px;
    box-shadow: 0 0 2em rgb(240, 240, 240);
    transition: .4s;
}


// Banner


.banner {
    .page-title {
        text-align: center;
        font-weight: 400;
        font-size: 45px;
        display: flex;
        justify-content: center;
        transition: .4s;
        margin-top: 25px;
    }

    .business-hook {
        margin-top: 65px;
        background-color: $primary-color;
        border-radius: 10px;
        color: white;
        padding: 40px;

        .hook-title {
            text-align: center;
            font-size: 30px;
            font-weight: 900;
            padding-bottom: 20px;
            transition: .4s;
        }

        .hook-content {
            text-align: center;
        }
    }
}



// Form


.credit-form {
    form {
        .form-group {
            margin-left: 160px;
            transition: .4s;

            input,
            select {
                max-width: 340px;
            }

            label {
                font-weight: 900;
            }

            .btn-outline-red {
                font-weight: 400;
            }

            .form-control {
                &:focus {
                    border: $primary-color 2px solid;
                    box-shadow: none;
                }

                option {

                    &:hover {
                        background-color: $primary-color;

                    }
                }
            }

        }


        .btn-group {
            label {
                font-weight: 400;
            }
        }

        .btn-group-label {
            font-weight: 900;
            margin-bottom: 8px;
            margin-left: 160px;

        }

        .form-btn {
            background-color: #fff;
            border: $primary-color 1px solid;
            color: $primary-color;
            font-weight: 400 !important;
            box-shadow: none;

            &:hover,
            &:active {
                background-color: $primary-color;
                color: white;
            }
        }

        .form-btn:not(:disabled):not(.disabled).active {
            color: #fff;
            background-color: $primary-color;
            border-color: #E84A61;
        }
    }


    .current-credits {
        .current-credits-cards {
            .card {
                padding: 0;
                border-radius: 0 0 10px 10px;
                border: none;
                width: 350px;

                .card-header {
                    color: white;
                    font-size: 27px;
                    background-color: $primary-color;
                    border-radius: 10px 10px 0 0;

                }

                .card-body {
                    background-color: #F4F5F6;
                    border-radius: 0 0 10px 10px;
                }

                .form-group {
                    margin-left: 0 !important;
                }
            }
        }

    }

    .form-submit {
        margin-top: 90px;

        .btn {
            background-color: $primary-color;
            border-radius: 30px;
            border: none;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 40px 10px 40px;
        }
    }

    .section-title {
        font-weight: 900;
        font-size: 25px;
        margin-bottom: 55px;

        span {
            font-size: 45px;
            color: $primary-color;
        }
    }

    .btn.btn-outline-red {
        background-color: transparent;
        border-color: $primary-color;
        color: $primary-color;

        &:hover {
            background-color: $primary-color;
            color: white;

        }

    }

    .btn.btn-outline-red.active {
        background-color: $primary-color;
        color: white;
        box-shadow: none;
    }

    .credit-form form .form-group label.btn-outline-red {
        font-weight: 400;
    }

    .btn-group-vertical {
        width: 100%;
    }

    .btn {
        cursor: pointer;
    }

}

.credits-text {
    padding: 40px;
    background-color: #F4F5F6;
    border-radius: 10px;
    font-size: 13px;
    color: rgb(110, 110, 110);
    margin-top: 80px;
}

.new-project,
.your-informations,
.your-situation,
.current-credits {
    margin-top: 45px;
}

// Media-Queries

@media(max-width:1200px) {
    .btn-group-label {
        margin-left: 130px !important;
        transition: .4s;
    }

    .form-group {
        margin-left: 130px !important;
        transition: .4s;
    }

    .navbar {
        transition: .6s;

        .navbar-toggler {
            border: none;
        }
    }


}

@media(max-width:991px) {

    .mobile-container {
        width: 100% !important;
        max-width: none !important;
    }


    .banner {
        .page-title {
            font-size: 33px;
            transition: .4s;
            margin-top: 35px;


        }

        .business-hook {
            margin-top: 45px;
            transition: .4s;
            padding: 25px !important;

            .hook-title {
                font-size: 25px;
                transition: .4s;
            }
        }

    }

    .form-group,
    .btn-group-label {
        margin-left: 40px !important;
        transition: .4s;
    }

    .card {
        width: 380px !important;
        transition: .4s;
    }

    .navbar {
        transition: .6s;

        .navbar-nav {
            padding: 20px;
        }

        .navbar-collapse {
            margin-top: -5px;
        }

        .navbar-toggler {
            border: none;
        }

        .navbar-brand {
            background-image: url(../img/mini-logo.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 36px;
            width: 36px;
            transition: .4s;
            padding: 0;
            margin: 12px;

        }

        .navbar-nav {
            background-color: #FFF;
        }

        .nav-link {
            text-align: center;
            margin: 0
        }

        .simulation-btn {
            order: 0 !important;
        }
    }

    .logo {
        display: none;
        transition: .4s;

    }

    .mini-logo {
        display: block;
        transition: .4s;
    }

    #modal-1, #modal-3{
        img{
            width: auto !important;
        }
    }
}



@media(max-width:768px) {

    .form-group,
    .btn-group-label {
        margin-left: 0 !important;
        transition: .4s;
    }

    .landing-background {
        padding: 20px;
        transition: .4s;
    }

    input,
    select {
        max-width: none !important;
        transition: .4s;
    }

}


@media (max-width: 576px) {
    .banner {
        .page-title {
            font-size: 28px;
            margin-top: 95px;
        }

        .business-hook {
            .hook-title {
                font-size: 22px;
            }
        }
    }

    .landing-background {
        margin-top: 0px;
        transition: .4s;
    }

    .form-btn {
        display: block !important;
        width: 100%;
    }
}



// Validation

.is-invalid {
    background-color: #fbeaf0 !important;
    border: solid 2px #ff437c !important;
}

.invalid-feedback {
    color: #ff437c;
}


// Modal

.modal {

    .modal-header,
    .modal-footer {
        border: none !important;
    }

    .modal-title {
        font-weight: 900;
        font-size: 25px;
    }

    .close {
        position: absolute;
        right: 1rem;
    }

    .modal-body {
        text-align: center;
    }

    img {
        width: 100%;
        padding: 30px;
    }

    label {
        font-size: 20px;
        font-weight: 600;
    }

    input {
        max-width: 200px !important;
        font-size: 22px;

        &:focus {
            box-shadow: none;
            border: solid 2px $primary-color;
        }

    }

    .btn {
        background-color: #ff437c;
        border: none;
        padding: 10px 45px;
        font-size: 21px;
        border-radius: 30px;
        margin-top: 15px;
    }

    .modal-content {
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 25px #656565;
    }

    .modal-footer {
        a {
            color: $primary-color !important;

        }
    }
}


    .success{
        font-size: 22px;
    }


    #modal-2{
        .modal-body {
            text-align: center;
            margin-top: 0;
        }
    }

    #modal-1, #modal-2, #modal-3{
        .form-group{
            margin-left: 0 !important;
        }
    }


    .error-message{
        background-color: #fbeaf0;
        border: $primary-color solid 2px;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        margin-bottom: 40px;
        ul{
            margin: 0;
        }

    }










    
//     div {
//         margin-top: 10%;
//         margin-left: 50%;
// }
.code-check{
    svg {
        text-align: center;
        margin: auto;
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
}

#icon-check .circle {
        -webkit-animation-name: check;
        animation-name: check;
        -webkit-animation-duration: 1.4s;
        animation-duration: 1s;
        stroke-dashoffset: 1000;
        stroke-dasharray: 1000;
        // -webkit-animation-iteration-count: infinite;
        // animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
}

#icon-check .check {
        -webkit-animation-name: check;
        animation-name: check;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        stroke-dashoffset: 1000;
        stroke-dasharray: 1000;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        // -webkit-animation-iteration-count: infinite;
        // animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
}

@keyframes check {
        to {
                stroke-dashoffset: 0;
        }
}
}
